{{ $authors := .Params.authors }}
{{ $notes := .Params.author_notes }}

{{ $has_equal := false }}
{{ $has_advisor := false }}

<div class="authors">
{{ range $i, $a := $authors }}
  <span class="author">
    {{ $a }}

    {{ with index $notes $i }}
      {{ if eq . "Equal contribution" }}
        *
        {{ $has_equal = true }}
      {{ end }}
      {{ if or (eq . "Advisor") (in . "Corresponding") }}
        ✉
        {{ $has_advisor = true }}
      {{ end }}
    {{ end }}
  </span>{{ if lt $i (sub (len $authors) 1) }}, {{ end }}
{{ end }}
</div>

{{ if or $has_equal $has_advisor }}
<div class="author-legend" style="font-size: 0.85em; margin-top: 0.3em;">
  {{ if $has_equal }}* Equal contribution{{ end }}
  {{ if and $has_equal $has_advisor }}, {{ end }}
  {{ if $has_advisor }}✉ Advisor{{ end }}
</div>
{{ end }}
